.right__section button {
  width: 100px;
  height: 30px;
  font-size: 13px;
  color: white;
  background-color: rgb(81, 158, 158);
  border: 0ch;
  border-radius: 5px;
}
.calander {
  height: 50px;
  border-radius: 0%;
}
