.main__container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.meetings__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.survey__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.survey__heading {
  width: 87%;
}
.survey__heading h3 {
  margin-bottom: 10px;
}
.survay__details {
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
}
